.main__container-fluid {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.camera__frame {
    width: 640px;
    height: 480px;
    margin-top: 5%;
    padding: 0 10%;
}

.main__container {
    background-image: url('../assets/images/background_alt2.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn__container {
    margin: 5% 0% 0% 21%;
    text-align: center;
}

.btn__template {
    font-size: 2em;
    padding: 15px 25px;
    color: #ffffff;
    margin-right: 2%;
}

.btn__template:hover {
    color: #ffffff;
}

.results__title, .logs__title {
    font-size: 1.75em;
    font-weight: bold;
}

.results__container {
    margin-top: 10%;
}

#results, #logs {
    font-size: 1.25em;
}

.logs__container {
    margin-top: 10%;
}